{%extends 'base.html'%}
{% block title%} Больница {% endblock %}

{% block content %}
<main>
    
      <div class="album py-5 bg-light" id="hospitals">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
           
            {% for hospital in hospitals %}
            <div class="col">
              <div class="card shadow-sm">
                {% if hospital.photo %}
                <img src="{{hospital.photo.url}}" width="100%" height="300px">
                {% endif %}
                <div class="card-body">
                  <p class="card-text">{{hospital.name}}
                      </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'detail' pk=hospital.pk  %}"  type="button" class="btn btn-sm btn-outline-secondary">View More</a>
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        
            </div>
          </div>
        </div>
      </div>
    </main> 
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <!-- <h1 class="fw-light">Album example</h1> -->
          <p>
            <a href="{% url 'addnurses' %}" class="btn btn-primary my-2">Добавить медсестру</a>
            <a href="{% url 'addpatient' %}" class="btn btn-secondary my-2">Добавить пациента</a>
          </p>
        </div>
      </div>
    </section>     
{% endblock %}
